:root {
    --color1: #fff;
    --color2: #bdbdbd;
    --color3: #424242;
    --color4: #262626;
    --scroll-bar-color: var(--color3);
    --scroll-bar-bg-color: var(--color2);
}

* {
    z-index: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

html {
    scroll-behavior: smooth;
    
    font-family: 'barlowlight';

    color: var(--color4);
}

/*

    Screen Loader

*/
body::before, body::after {
    display: block;

    position: fixed;
    z-index: 1000000;

    content: "";

    opacity: 0;

    pointer-events: none;
}

body::before {
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;

    background-color: var(--color4);

    animation: 2.5s ease-in-out 0s page-loader;
}

body::after {
    top: 50%;
    left: 50%;

    height: 15vmin;
    width: 15vmin;

    content: "A";

    font-family: 'Ailerons';
    font-size: 15vmin;

    color: var(--color1);

    line-height: 15vmin;
    text-align: center;

    transform: translate(-50%, -50%);

    animation: 2.5s ease-in-out 0s page-loader-letter;
}

@keyframes page-loader {
    0%, 75% {
        opacity: 1;

        pointer-events: auto;
    }

    100% {
        opacity: 0;
    }
}

@keyframes page-loader-letter {
    0% {
        opacity: 0;

        pointer-events: auto;
    }

    30%, 85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}